<div class='nested-fields'>
    <div class="mb-3 field">
      <%= f.label :name, 'Certification Name*', class: "form-label" %>
      <%= f.select :name, ['AWS', 'Python', 'Java'], {}, class: "form-control" %>
    </div>

  <div class='row d-flex justify-content-between row pt-3'>
    <div class="mb-3 field col-sm-6">
      <%= f.label :issue_date, 'Issue Date*', class: "form-label" %>
      <%= f.date_field :issue_date, class: "form-control", max: Date.today %>
    </div>

    <div class="mb-3 field col-sm-6">
      <%= f.label :expiration_date, 'Expiration Date(Optional)', class: "form-label" %>
      <%= f.date_field :expiration_date, class: "form-control" %>
    </div>
  </div>

  <div class="mb-3 field">
    <%= f.label :cert_id, 'Certfication ID(Optional)', class: "form-label" %>
    <%= f.text_field :cert_id, class: "form-control" %>
  </div>

  <div class="mb-3 field">
    <%= f.label :certification_url, 'Certfication URL(Optional)', class: "form-label" %>
    <%= f.text_field :certification_url, class: "form-control" %>
  </div>

  <div class='links text-end'>
    <%= link_to_remove_association "remove certification", f, class: 'btn btn-outline-danger make-white'%>
  </div>
</div>