<%= render 'mini_header' %>
<div class='card container w-50 pt-5 pb-5 p-4'>
  <%= render partial: 'progress', locals: { current_page: 'experiences' } %>
  <h2 class='mt-3 text-center'>Add Your Experiences</h2>
  <%= render 'layouts/errors', record: @profile %>
  <%= form_with model: @profile do |f| %>
    <%= f.hidden_field :current_page, value: 'experiences' %>
    <div id='experiences'>
      <%= f.fields_for :experiences do |e_f| %>
        <%= render 'experience_fields', :f => e_f %>
        <hr />  
      <% end %>
      <div class='links mb-3 text-end'>
        <%= link_to_add_association 'add experience', f, :experiences, class: 'btn btn-outline-danger make-white' %>
      </div>
    </div>
    <div class='text-center' data-turbo='false'><%= f.submit 'add education' ,class: 'btn btn-outline-dark' %></div>
  <% end %>
</div>