<header>
  <!-- Header Start -->
  <div class="header-area header-transparrent mt-3 mb-3">
    <div class="headder-top header-sticky">
      <div class="container">
        <div class="row align-items-center d-flex justify-content-between">
          <div class="col-lg-3 col-md-2">
            <!-- Logo -->
            <div class="logo">
              <%= image_tag "logo/logo.png", alt: "" %>
            </div>
          </div>
          <div class="col-lg-3 col-md-2">
            <div class="menu-wrapper">
              <!-- Main-menu -->
              <!-- Header-btn -->
              <div class="header-btn d-none f-right d-lg-block">
                <%= link_to 'switch as client', client_path, data: {turbo: false}, class: 'btn head-btn2 make-white'  %>
                <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn head-btn1' %>
              </div>
            </div>
          </div>
          <!-- Mobile Menu -->
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
</header>
<div class='card container w-50 pt-5 pb-5 p-4'>
  <h2 class='mb-3 text-center'>Build your profile</h2>
  <%= render 'layouts/errors', record: @profile %>
  <%= form_with model: @profile, url: profile_path do |f| %>
    <div class="mb-3 field">
      <%= f.label :professional_role, 'Add a role to tell the world what you do', class: "form-label" %>
      <%= f.text_field :professional_role, class: "form-control" %>
    </div>

    <div id='experiences'>
      <%= f.fields_for :experiences do |e_f| %>
          <%= render 'experience_fields', :f => e_f %>
          <hr />  
        <% end %>
    <div class='links mb-3'>
      <%= link_to_add_association 'add experience', f, :experiences, class: 'btn head-btn2 make-white' %>
    </div>
    </div>

    <div id='education_histories'>
      <%= f.fields_for :education_histories do |e_h| %>
          <%= render 'education_history_fields', :f => e_h %>
          <hr />  
        <% end %>
    <div class='links mb-3'>
      <%= link_to_add_association 'add education', f, :education_histories, class: 'btn head-btn2 make-white' %>
    </div>
    </div>

    <div id='certifications'>
      <%= f.fields_for :certifications do |c| %>
          <%= render 'certification_fields', :f => c %>
          <hr />  
        <% end %>
    <div class='links mb-3'>
      <%= link_to_add_association 'add certification', f, :certifications, class: 'btn head-btn2 make-white' %>
    </div>
    </div>

    Languages:
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Langauge (english is mandatory)</th>
          <th scope="col">Proficiency</th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :languages do |l| %>
          <tr>
            <td>
              <%= l.select :name, ['English', 'Telugu'], selected: 'English', disabled: ['Telugu'] %>
            </td>
            <%= render 'language_fields', :f => l %>
          </tr>
        <% end %>
        <div class='links mb-3'>
          <%= link_to_add_association 'add language', f, :languages, class: 'btn head-btn2 make-white' %>
        </div>
      </tbody>
    </table>

    <div class="mb-3 field">
      <%= f.label :skill_list, "Skills (separated by commas)", class: "form-label" %>
      <%= f.text_field :skill_list, class: "form-control"  %>
    </div>

    <div class="mb-3 field">
      <%= f.label :bio, "Write a bio to tell the world about yourself", class: "form-label" %>
      <%= f.text_area :bio, size: '50x7', class: "form-control", placeholder: 'Enter your skills, experiences and interests. This is one of the first things clients will see on your profile'  %>
    </div>

    <div class="mb-3 field">
      <%= f.label :service_list, "Services (separated by commas)", class: "form-label" %>
      <%= f.text_field :service_list, class: "form-control"  %>
    </div>

    <div class="mb-3 field">
      <%= f.label :hourly_rate, "Set your hourly rate(dollars per hour)", class: "form-label" %>
      <%= f.number_field :hourly_rate, in: 3..999, step: 0.1, class: "form-control"  %>
    </div>

    <div class="mb-3 field">
      <%= f.label :country, "Country*", class: "form-label" %>
      <%= f.select :country, ['India', 'America', 'Japan', 'China', 'Europe'], {}, class: "form-control"  %>
    </div>

    <div class="mb-3 field">
      <%= f.label :street_address, "Street address*", class: "form-label" %>
      <%= f.text_field :street_address, class: "form-control"  %>
    </div>

    <div class="mb-3 field">
      <%= f.label :city, "City*", class: "form-label" %>
      <%= f.text_field :city, class: "form-control"  %>
    </div>

    <div class="mb-3 field">
      <%= f.label :state, "State/Province", class: "form-label" %>
      <%= f.text_field :state, class: "form-control"  %>
    </div>

    <div class="mb-3 field">
      <%= f.label :postal_code, "ZIP/Postal Code", class: "form-label" %>
      <%= f.text_field :postal_code, class: "form-control"  %>
    </div>

    <div class="mb-3 field">
      <%= f.label :phone, class: "form-label" %>
      <%= f.text_field :phone, class: "form-control"  %>
    </div>

    <div class='text-center' data-turbo='false'><%= f.submit class: 'btn btn-outline-dark' %></div>
  <% end %>
</div>